<div class="py-10">
    <div class="menu-header grid grid-cols-3">
        <div class="flex justify-start lg:justify-center lg:items-center">
            <ul class="flex justify-start lg:justify-center items-center text-white text-sm">
                <li class="px-2 humberger-menu"><a href=""><img src="../../../public/assets/img/Category.svg" alt=""
                            class=""></a></li>
                <li class="px-2 hidden lg:block"><a href="">New ARRIVAL</a></li>
                <li class="px-2 hidden lg:block"><a href="">MEN</a></li>
                <li class="px-2 hidden lg:block"><a href="">WOMEN</a></li>
                <li class="px-2 hidden lg:block"><a href="">KIDS</a></li>

            </ul>
        </div>
        <div class="z-50 w-sm h-screen bg-black justify-end  slider-header-menu"></div>
        <div class="flex justify-center items-center">
            <img src="../../../public/assets/img/Logo.svg" class="">
        </div>
        <div class="flex justify-end items-center">
            <div class="px-5 lg:px-10">
                <img src="../../../public/assets/img/Vector1.svg" alt="" class="h-5 w-5">
            </div>
            <div class="px-5 lg:px-10 ">
                <img src="../../../public/assets/img/Shopping bag.svg" alt="" class="h-5 w-5">

            </div>
            <div class="px-5 lg:px-10">
                <img src="../../../public/assets/img/Vector.svg" alt="" class="h-5 w-5">
            </div>
        </div>
    </div>
</div>